body {
    background-image: url("../resources/background.png");
}

#nameplate {
    margin-top: 18%;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: "Courier New";
}

#about {
    margin-left: 25%;
    margin-right: 25%;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: "Courier New";
}
