body {
    background-image: url("../resources/background.png");
}

footer {
    bottom: 0; 
    position: fixed;
    color: white;
    text-align: center;
    width: 100%;
    font-family: "Courier New";
}

a:link {
    color: white;

}

a:visited {
    color: gray;
}

#nameplate {
    margin-top: 18%;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: "Courier New";
}

#about {
    margin-left: 25%;
    margin-right: 25%;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: "Courier New";
}

#images {
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 15px;
}

#github {
    padding: 4px;
}

#bedflix {
    padding: 4px;
}

#resume {
    position: relative; 
    top: 5px;
}

#blur {
    padding: 4px;
}
